<?php
/*
Template Name: Search
*/
get_header(); ?>
<section class="panel first">
	<div class="container">
		<div class="grid">
			<?php if (have_posts()) : while (have_posts()) : the_post();?>
				<div class="result col-100">
					<h4 class="thin title">
						<a target="_blank" href="<?php the_permalink(); ?>">
							<?php the_title(); ?>
						</a>
					</h4>
					<div class="res-body" >
						<p><?php the_excerpt(); ?></p>
						<div class="bootstrap">
							<div class="panel top-space"><h5>Post Info:  </h5>
								<span class="btn btn-info btn-sm">
									<strong>Author:</strong> <?php the_author(); ?>
								</span>
								<span class="btn btn-info btn-sm">
									<strong>Publish Date:</strong>  <?php the_time('F j, Y'); ?>
								</span>
							</div>
						</div>
					</div>
				</div>
				
			<?php endwhile; ?>
				<div class="nav-previous alignleft"><?php next_posts_link( 'Older posts' ); ?></div>
				<div class="nav-next alignright"><?php previous_posts_link( 'Newer posts' ); ?></div>
			<?php else : ?>
				<p><?php _e( 'Sorry, no posts matched your criteria.' ); ?></p>
			<?php endif; ?>
		</div>
	</div>
</section>

<?php get_footer(); ?>