@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?w963oa');
	src:url('fonts/icomoon.eot?#iefixw963oa') format('embedded-opentype'),
		url('fonts/icomoon.woff?w963oa') format('woff'),
		url('fonts/icomoon.ttf?w963oa') format('truetype'),
		url('fonts/icomoon.svg?w963oa#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e600";
}
.icon-googleplus:before {
	content: "\e601";
}
.icon-facebook:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
